Testing.py
Note_to_self.txt
test_images/
Documentation.txt
Outputs of main/
2_23_subset/
jingle.py
NN.py
My_stuff.py
Outputs/
Test_subsets/
All_Outputs/
annotation_file.csv
TopLR.py
Total_areas.csv
Log_Reg.py
testing_random.py
my_xgboost.py
NN_area.py
Testing_proof/
Spline_outputs/
Proof_test.py
animation_188981_600.gif
animation_188981_2500.gif
annimation.png
animation_188981.gif
animation_251972_2500.gif
animation_251972.gif
V1_188981_2500.png